torch
pytorch-ignite
transformers==4.30.0
tensorboardX==1.8
tensorflow  # for tensorboardX
# firebase
# python_jwt
# gcloud
# sseclient
# pycrypto
# requests-toolbelt
# pyrebase
firebase-admin
wtforms
flask
flask-ngrok #for flask on colab
